@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.container {

    min-height: 700px;
    
    h1{
        font-family: 'Shadows Into Light', cursive;
        font-size: 4rem;
        font-weight: 600;
    }

    hr {    
        width: 75%;
        float: left;
        background-color: #403F3D;
        border: 2px solid #403F3D;
        border-radius: 20px;
    }

}